<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label><i>Nom Album </i></label>
    <input class="form-control" #searchInput (keyup)="onKeyUp(searchInput.value)" placeholder="Cherhcher Votre Série">
        </div>
    </form>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th class="lead">Id</th>
                        <th class="lead">Nom</th>
                        <th class="lead">Date Diffusion</th>
                        <th class="lead">Langue</th>
                        <th class="lead">Type</th>
                        <th class="lead">Supprimer</th>
                        <th class="lead">Modifier</th>
                    </tr>
                </thead>
                <tbody *ngFor="let Album of Albums">
                    <tr>
                        <td>{{Album.idAlbum}}</td>
                        <td>{{Album.nomAlbum}}</td>
                        <td>{{Album.dateCreation |  date :'dd/MM/yyyy' }}</td>
                        <td>{{Album.langue }}</td>
                        <td>{{Album.type.nomType}}</td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="SupprimerAlbum(Album)">Supprimer</a></td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-primary" [routerLink]="['/updateAlbum',Album.idAlbum]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
